{% extends "base.html" %}

{% block title %}Lista de Alunos{% endblock %}

{% block content %}
    <h1 class="my-4 text-center">Lista de Alunos</h1>
    <div class="row">
        {% for aluno in alunos %}
        <div class="col-md-4 mb-4">
            <div class="card animate__animated animate__fadeInUp">
                <img class="card-img-top" src="{{ aluno.foto }}" alt="Foto de {{ aluno.nome }}">
                <div class="card-body">
                    <h5 class="card-title"><a href="{{ url_for('detalhes_aluno', aluno_id=loop.index0) }}">{{ aluno.nome }}</a></h5>
                    <p class="card-text">Idade: {{ aluno.idade }}</p>
                    <p class="card-text">Mini bio: {{ aluno.mini_bio }}</p>
                    <a href="{{ aluno.github }}" class="btn btn-primary">GitHub</a>
                    <a href="{{ aluno.linkedin }}" class="btn btn-secondary">LinkedIn</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
